* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    background-color: rgba(88, 88, 255, 0.329);
}

#n-pk {
    width: 22%;
    height: 30px;
    padding: .5%;
    margin-left: 2%;
    outline: none;
    border-radius: 8px;
}

button {
    border: none;
    background-color: rgb(88, 88, 255);
    width: 5%;
    height: 30px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 100);
}

.hide {
    display: none;
}


h1 {
    color: rgb(255, 196, 0);
    background-color: rgb(27, 27, 27);
    font-weight: bold;
    font-size: 4rem;
}

h1,
p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pokemon-salvo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid rgb(255, 220, 220);
    color: #fff;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    margin: 1%;
    padding: 1%;

    background: linear-gradient(to bottom, rgb(255, 40, 40), rgb(138, 16, 0));
    box-shadow: inset 1px 1px 3px 3px rgb(255, 138, 138);
}

.card-salvo {
    border: 1px solid rgb(255, 220, 220);
    color: #fff;
    border-radius: 8px;
    text-align: center;
    width: 30%;
    margin: 1%;
    padding: 1%;

    background: linear-gradient(to bottom, rgb(60, 209, 255), rgb(17, 81, 177));
    box-shadow: inset 1px 1px 3px 3px rgb(138, 255, 239);
}

/* .card hr {
    border: 1px solid rgb(92, 92, 92);
    margin-bottom: 1%;

} */


/*ESTILOS DOS STATUS*/

.namePK {
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.068);
    border-radius: 50px;
    color: #fff;
    font-size: 3rem;
}

.type {
    font-weight: bold;
    color: rgb(255, 255, 70);
}

.base-experience {
    font-weight: bold;
    color: rgb(0, 255, 242);
}

.base-stat {
    font-weight: bold;
    color: rgb(68, 255, 68);
}

#pokemon-salvo {
    display: flex;

    color: red;
}

.btn-add {
    width: 30%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn-remove {
    background-color: rgb(255, 88, 88);
    width: 30%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

/**/


@media(max-width:999px) {
    #n-pk {
        width: 35%;
    }

    button {
        width: 10%;
    }

    .namePK {
        font-size: 2rem;
    }
}

@media (max-width:750px) {
    .card {
        background-color: #333;
        width: 50%;
    }

    .card-salvo {
        width: 40%;
    }

    #n-pk {
        width: 50%;
    }
}

@media (max-width:550px) {
    #n-pk {
        width: 60%;
    }

    button {
        width: 15%;
    }

    .card {
        /* background: rgba(0, 0, 255, 0.349); */
        width: 70%;
    }

    .card-salvo {
        width: 70%;
    }
}